<div class="container">
	<div>&nbsp;</div>
	<div class="about-container">
		<h2 class="text-center">myTodo</h2>
		<p class="about-desc">Tired of those boring and old to-do web applications? Well, you don't have to! With this awesome and fun application, you can start monitoring your activities and at the same time, play around our customizable (soon) notepads. You can choose your own theme (soon), color (soon), font (soon) and many more!  </p>
		<p class="about-desc">You can also drag your notepad anywhere on your browser screen. Just double click the move icon to start dragging your notepad. If you think the size of your notepad is enough, you also have an option to resize it the easy way (soon)!  </p>
		<h3 class="about-desc"><strong>Enjoy our myTodo notepad application!</strong></h3>


		
	</div>
	<div>&nbsp;</div>
</div>	
