@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

.output {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}

.output-box {
	background: var(--main-lighter-color);
	box-shadow: var(--shadow);
	border-radius: 5px;
	padding: 1em;
	color: var(--main-bg-color);
	font-family: 'Didact Gothic', sans-serif;

}

textarea {
	font-family: 'Didact Gothic', sans-serif;
}

.output-box h3 {
	margin: 5px 0;
}


.output-container {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5em;
    list-style-type: none;
    margin: auto 0;
    padding: 0;
}

.move-icon {
	font-size:24px;
	cursor:pointer
}

.top-most {
	z-index: 9999;
}

@media only screen and (min-width: 1299px) {
	.output-container {
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


@media (max-width: 1299px) {
	.output-container {
	    grid-template-columns: 1fr 1fr 1fr;
	}
}


@media (max-width: 991px) {
	.output-container {
	    grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.output-container {
	    grid-template-columns: 1fr;
	}
	.output {
		grid-template-columns: 1fr;
	}	
}


