
<div class="container ">
	<div>&nbsp;</div>
	<div class="output">
		<ul class="output-container" id="outputBox">
			<li *ngFor="let todo of todos;  let i = index " [@flyInOut]>
				<div class="output-box" >
					<span style="float:right;cursor: pointer" (click)="removeItem(i)">&times;</span>
					<h3>{{ todo }}</h3>
					<textarea placeholder="Enter your additional note/todo here..." cols="40" rows="10" [disabled]="save" ></textarea>
					<input type="submit" class="btn" (click)="saveNote(save,i)" [value]="btnUpdt" [id]="i">
				</div>
			</li>			
		</ul>

	</div>
	<div>&nbsp;</div>
</div>