@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
header{
	display: grid;
    grid-template-columns: 1fr;
}
header ul {
	padding: 0;
}

ul.nav-link li {
	list-style: none;
	float: left;
	margin-right: 20px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5em;
	color: var(--main-darker-color);
}
ul.nav-link li a{
	color: var(--main-darker-color);
	text-decoration: none;
}
ul.nav-link li a:hover{
	color: var(--main-bg-color);
	text-decoration: underline;
	font-size: 1.1em;
	transition: .5s;
}
ul.nav-link:after {
	display: block;
    content: "";
    clear: both;
}

