<div class="container">
	<div>&nbsp;</div>
	<div class="record-container">
		<div class="sorting">
		<label>Sort By: </label>
			<select>
			  <option>Date</option>
			  <option>Longest Duration</option>
			  <option>Shortest Duration</option>
			  <option>Alphabetical</option>
			</select>			
		</div>
		<h3>Your recorded activity :</h3>
		<ol>
			<li class="record-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deleniti quasi ex nam distinctio autem, accusantium illum consectetur. Accusantium, facere? Ipsum praesentium, ad neque earum in explicabo aliquam! Dolor, voluptates?</li>
		</ol>
		
	</div>
	<div>&nbsp;</div>
</div>	
