<div class="container">
	<div class="main-container">
		<div class="sub-container1">
			<div>
				<h2>What are you up to?</h2>
			</div>
			<div>
				<p>This is a sample planning app wherein you can add your todo list</p>
				<p>You have ({{ itemCount }}) remaining items in your todo list</p>
			</div>	
		</div>

		<div class="sub-container2" [@todos]="todos.length">
			<div>
				<p>Want to remind yourself? List it below</p>
				<form>
					<input type="text" name="item" placeholder="I will..." [(ngModel)]="todoText">
					<input type="submit" class="btn" [value]="btnText" (click)="addItem()">
				</form>
			</div>
<!-- 			<div>
				<ul>
					<li *ngFor="let todo of todos; let i = index" (click)="removeItem(i)"> {{ todo }} </li>
				</ul>
			</div> -->	
		</div>	
	</div>	
</div>	

<app-output></app-output>
