@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');



.sub-container1 {
	grid-area: 1 / 1 / 2 /3;
	
	color: var(--main-bg-color);
	padding: 1em;

}

.sub-container1 h2{
	font-family: 'Righteous', cursive;
	font-size: 1.6em;
	text-decoration: underline;
}

.sub-container1 p, .sub-container2 li, .sub-container2 p {
	font-family: 'Didact Gothic', sans-serif;
}

.sub-container2 {
	grid-area: 1 / 2 / 2 / 3;
	
	color: var(--main-bg-color);
	padding: 1em;
	/*box-shadow: var(--shadow);*/
}





@media (max-width: 1600px) {
	.sub-container1 {
		grid-area: 1 / 1 / 2 /3;
	}
	.sub-container2 {
		grid-area: 1 / 3 / 2 /3;
	}	


}


@media (max-width: 768px) {
	.sub-container2 {
		grid-area: 2 / 1 / 2 /3 !important;
	}
}