<div class="container">
	<div class="main-container">
		<div class="sub-container1">
			<div>
				<h2>What are you up to?</h2>
			</div>
			<div>
				<p>This is a sample planning app</p>
			</div>	
		</div>

		<div class="sub-container2">
			<div>
				<p>Want to remind yourself? List it below</p>
				<form>
					<input type="text" name="item" placeholder="Life goal...">
					<input type="submit" class="btn" value="Add">
				</form>
			</div>
			<div>
				<ul>
					<li>Things I will do</li>
				</ul>
			</div>	
		</div>		
	</div>
</div>